

<div id="flash">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
</div>


<nav class="nav">
  <div class="left-nav">
    <div class="logo">
      <%= link_to(image_tag("logo1", class: "logo"), root_path) %>
    </div>
    <div class="logo-header">
      Brian's Blog; Welcome to the Warehouse

    </div>
  </div>
  <div class="mid-nav">
    <div class="nav-item">
      <button class="dropdown">
        Media
      </button>
      <ul>
        <li>Podcasts</li>
        <li>Videos</li>
        <li>Blog Posts</li>
      </ul>
    </div>
    <div class="nav-item">
      About
    </div>
    <div class="nav-item">
      Contact
    </div>
    <div class="nav-item">
      More
    </div>

  </div>
  <div class="right-nav">
    <button class="dropdown">
      <% if signed_in? %>
        Signed in as: <%= current_user.email %>
        <%= button_to 'Sign out', sign_out_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign up | Log in', sign_in_path, class: "sign-up-button" %>
      <% end %>
    </button>
    <ul>
      <li>Profile</li>
      <li>Dashboard</li>
      <li>Sign out</li>
    </ul>
  </div>
</nav>
